<div class="container is-fullhd">
        <article class="panel">
            <p class="panel-heading" style="text-align: center;">
              {{title}}
            </p>
            <!-- <p class="panel-tabs">
              <a class="is-active">All</a>
              <a>Public</a>
              <a>Private</a>
              <a>Sources</a>
            </p> -->
            <div class="tabs is-centered">
                <ul>
                  <!-- <li routerLinkActive="is-active" ><a [routerLink]="['./followTheLine']" >Follow a line</a></li> -->
                  <!-- <li routerLinkActive="is-active"><a [routerLink]="['./bossMode']" >Boss mode</a></li> -->
                  <li routerLinkActive="is-active"><a [routerLink]="['./remoteControl']" >remote control</a></li>     
                  <li routerLinkActive="is-active"><a [routerLink]="['./autonomousControl']" >autonomous control</a></li>
                </ul>
              </div>
<router-outlet></router-outlet>
.
</article>
</div>